.header {
    display: flex;
    align-items: center;
    background-color: #314044;
    color: #fff;
}
.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}